/* Global */

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

p{
    font-size: 18px;
}

/* Utilities */

@keyframes bounce {
    0%{transform: scale(1);}
    /* 25%{transform: scale(1);} */
    50%{transform: scale(0.5);}
    /* 75%{transform: scale(1.2);} */
    100%{transform: scale(1);}
}

@keyframes enter {
    from{opacity: 0;}
    to{opacity: 1;}
}

@keyframes loadanimate {
    0%{transform: scale(1);
        opacity: 1;}
    25%{transform: scale(5);
        opacity: 0;}
    50%{transform: scale(3);
        opacity: 1;}
    75%{transform: scale(5);
        opacity: 0;}
    100%{transform: scale(1);
        opacity: 1;}
}

@media only screen and (max-width: 1024px) {
    .head-img img{
        max-height: 300px !important;
    }
    .sec-3-img, .sec-4-img{
        max-height: 300px !important;
    }
  }

@media only screen and (max-width: 768px) {
    .nav-bar{
        flex-basis: 90% !important;
    }
    .head-img{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .head-img img{
        max-height: 300px !important;
    }
    .section-3, .section-4{
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
    }
  }

@media only screen and (max-width: 560px) {
    .header{
        grid-template-columns: 1fr !important;
    }
    .head-txt{
        padding: 50px 0px 10px !important;
        padding-right: 0px !important;
    }
    .head-txt h1{
        font-size: 30px !important;
        padding-bottom: 15px !important;
    }
    .head-txt p{
        padding-bottom: 15px !important;
    }
    .head-txt .btn{
        margin-right: 0% !important;
        text-align: center
    }
    .head-img img{
        padding-right: 0px !important;
    }
    #hamburger{
        display: flex !important;
        z-index: 2;
    }
    #cancel{
        height: 50px;
        width: 50px;
        background-color: #fff;
        border-radius: 10px;
        position: relative;
    }
    #cancel::after{
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        content: "\274c";
        font-size: 20px;
        color: var(--mainblue);
        line-height: 50px;
        text-align: center;
    }
    /* #--1{
        height: 5px;
        background-color: #fff;
        width: 35px;
        border-radius: 10px;
    }
    #--2{
        height: 5px;
        background-color: #fff;
        width: 35px;
        border-radius: 10px;
    } */
    .nav{
        padding: 30px 0px 0px !important;
    }
    .nav-bar{
        visibility: hidden;
        animation: enter 2s;
        text-align: center;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0%;
        left: 0%;
        flex-direction: column;
        padding: 20px 27% 10% !important;
        margin: 0px 0% !important;
        background-color: var(--mainblue);
        color: #fff;
        z-index: 0;
    }
    .nav-bar li{
        border-bottom: 1px #fff solid !important;
        padding: 10px 50px !important;
    }
    .flexed{
        display: flex !important;
        flex-direction: column;
    }
    .sec-3-img, .sec-4-img{
        max-height: 250px !important;
    }
    .section-3-txt .btn, .section-4-txt .btn{
        margin: 0 !important;
    }
    .section-3-txt{
        padding: 0 !important;
    }
  }

  @media only screen and (max-width: 350px) {
    .head-img img{
        max-height: 300px !important;
    }
    .sec-3-img, .sec-4-img{
        max-height: 200px !important;
    }
  }

.fa-solid{
    color: var(--mainblue) !important;
}

:root{
    --txt-color: #757575;
    --mainblue: rgb(40, 140, 255);
}
/* 
.loader::before{
    content: '';
    position: absolute;
    background-color: #8b8b8b93;
    padding: 500%;
    height: 100vh;
    width: 100%;
    top: -150%;
    z-index: 1;
} */

.loader{
    background-color: #fff;
    top: 0px;
    left: 0px;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
}

.loader::after{
    content: '';
    background-color: var(--mainblue);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    animation: loadanimate 2s infinite; 
}

.btn{
    border: 1px var(--mainblue) solid;
    padding: 10px 30px;
    border-radius: 20px;
    transition: all ease-in-out;
    transition-delay: 0.1s;
}

.blue-btn{
    background-color: var(--mainblue);
    color: #fff;
}

.light-btn{
    color: var(--mainblue);
    border: 1px var(--mainblue) solid;
}

.btn:hover{
    transform: scale(1.05);
}

.btn:active{
    animation: bounce 1s;
}

#hamburger{
    display: none;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

#d1{
    height: 5px;
    background-color: var(--mainblue);
    width: 35px;
    border-radius: 40px;
    margin: 2px 0px;
}

#d2{
    height: 5px;
    background-color: var(--mainblue);
    width: 35px;
    border-radius: 40px;
    margin: 2px 0px;
}

#d3{
    height: 5px;
    background-color: var(--mainblue);
    width: 35px;
    border-radius: 40px;
    margin: 2px 0px;
}

/* Nav */

.contain{
    padding-right: 10% !important;
    padding-left: 10% !important;
}

.nav{
    display: flex;
    color: var(--txt-color);
    padding: 2% 0px;
    justify-content: space-between;
}

.nav-bar{
    list-style: none;
    display: flex;
    justify-content: flex-end !important;
    align-items: center;
    flex-basis: 70%;
    padding-left: 0px;
}

.nav-bar li{
    padding: 0px 20px;
    border-bottom: 1px rgba(255, 255, 255, 0) solid;
}

.nav-bar li:hover{
    border-bottom: 1px var(--mainblue) solid;
}

.nav-bar li:active{
    border-bottom: 1px var(--mainblue) solid;
    font-weight: 600;
}

.logo{
    align-items: center;
    font-weight: 600;
}

.logo span{
    background-color: var(--mainblue);
    padding: 3% 10%;
    color: #fff;
    border-radius: 50%;
    margin-right: 2px;
}

.header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.head-txt{
    display: flex;
    flex-direction: column;
    padding: 30% 0px 30px;
    padding-right: 20%;
}

.head-txt h1{
    font-size: 45px;
    padding: 0px 0px 30px;
}

.head-txt p{
    padding: 0px 0px 30px;
}

.head-txt .btn{
    margin-right: 30%;
    text-align: center
}

.head-img{
    padding: 20px 0px;
}

.head-img img{
    height: 80%;
}

/* Section-2 */

.section-2{
    background-image: url(Images/Vector.png);
    background-repeat: no-repeat;
}

.section-2-htxt{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-2-htxt h2{
    font-size: 30px;
    text-align: center;
    padding: 20px 0px;
}

.section-2-htxt p{
    text-align: center;
    padding: 20px 0px;
    color: var(--txt-color);
}

.divider{
    background-color: #000;
    height: 5px;
    width: 70px;
}

.flexed{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px 0px;
    flex-wrap: nowrap;
}

#flex-item{
    margin: 20px;
    padding: 20px 20px;
    box-shadow: 15px 15px 50px rgb(219, 219, 219);
    border-radius: 10px;
}

#flex-item h3{
    padding: 20px 0px 0px;
}

#flex-item p{
    padding: 10px 0px;
}

.down-btn{
    text-align: center;
    padding: 20px 0px;
}

/* Section-3 */

.section-3{
    display: flex;
    padding: 90px 0px;
}

.section-3-txt, .section-4-txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 7%;
}

.section-3-txt h1, .section-4-txt h1{
    padding: 20px 0px;
}

.section-3-txt .divider, .section-4-txt .divider{
    margin: 0px 0px 20px;
}

.section-3-txt p,.section-4-txt p{
    margin: 0px 0px 20px;
}

.section-3-txt .btn{
    text-align: center;
    margin-right: 65%;
}

/* Section-4 */

.section-4{
    display: flex;
    padding: 90px 0px;
    flex-direction: row-reverse;
}

.section-4-txt{
    padding-right: 7%;
    padding-left: 0%;
}

.section-4-txt .btn{
    text-align: center;
    margin-right: 65%;
}